/WildLog/nbproject/private/
/WildLogDataCore/nbproject/private/
/WildLogHTMLTemplates/nbproject/private/
/WildLogMapData/nbproject/private/
/WildLogDataCore/target/
/WildLogGeoTools/target/
/WildLogHTMLTemplates/target/
/WildLogINaturalist/WildLogINaturalistAPI/target/
/WildLogMapData/target/
/WildLog/target/
/WildLogMediaUtilWrapper/target/
WildLog/AppProperties/WildLogSettings/wildlog_errorlog.txt
WildLogMediaUtilWrapper/nb-configuration.xml
WildLogMapData/nb-configuration.xml
WildLogHTMLTemplates/nb-configuration.xml
WildLogDataCore/nb-configuration.xml
WildLogINaturalist/WildLogINaturalistAPI/nb-configuration.xml
