/* http://www.colorzilla.com/gradient-editor/ */
body {
background: rgb(140,170,73); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(140,170,73,1) 0%, rgba(197,211,129,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(140,170,73,1)), color-stop(100%,rgba(197,211,129,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(140,170,73,1) 0%,rgba(197,211,129,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(140,170,73,1) 0%,rgba(197,211,129,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(140,170,73,1) 0%,rgba(197,211,129,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(140,170,73,1) 0%,rgba(197,211,129,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8caa49', endColorstr='#c5d381',GradientType=0 ); /* IE6-9 */
}