/* http://www.colorzilla.com/gradient-editor/ */
body {
background: rgb(204,192,229); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(204,192,229,1) 1%, rgba(238,237,247,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(204,192,229,1)), color-stop(100%,rgba(238,237,247,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(204,192,229,1) 1%,rgba(238,237,247,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(204,192,229,1) 1%,rgba(238,237,247,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(204,192,229,1) 1%,rgba(238,237,247,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(204,192,229,1) 1%,rgba(238,237,247,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc0e5', endColorstr='#eeedf7',GradientType=0 ); /* IE6-9 */
}